.Head-container {
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    height: 5vw;
    background: #1A1F38;
    justify-content: space-around;
}

.Head-slo {
    margin-right: 50vw;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 5vw;
    color: #FFFFFF;
}

.Head-search-container {
    display: flex;
    width: 28vw;
    height: 3vw;
    margin-top: 1vw;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 8px;
}

.Head-search {
    background: transparent;
    width: 23vw;
    padding-left: 1.5vw;
    align-self: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.search-icon {
    display: flex;
    width: 2vw;
    height: 2vw;
    margin-top: 0.5vw;
}

@media(max-width:1200px) {

    .Head-container {
        width: 100%;
        height: 15vw;
    }
    .Head-slo {
        font-size: 10vw;
        margin-right: 40vw;
        line-height: 15vw;
        color: #FFFFFF;
    }
    .Head-search-container {
        display: flex;
        width: 30vw;
        padding: 2vw;
        height: 5vw;
        margin-top: 3vw;
        border-radius: 8px;
    }

    .Head-search {
        
        font-size: 6vw;
        line-height: 44px;
    }

    .search-icon {
        display: flex;
        width: 5vw;
        height: 5vw;
        margin-top: -0.5vw;
    }


}