.Foot-container{

    display: flex;
    margin-top: 10vw;
    flex-direction: column;
}

.Foot-head{

    color: #E2E2E2;
    font-family: Inter;
    font-style: normal;
    margin-left: 3vw;
    font-weight: bold;
    font-size: 2.5vw;
}

.Foot{

    color: #E2E2E2;
    margin-top: 2vw;
    margin-left: 3vw;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
}