.Movie-container-All {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.You {
    color: white;
    display: flex;
    margin-left: 4vw;
}

.mov {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5vw;
}

.Movie-pics {
    display: flex;
    margin-top: 3vw;
    width: 10.5vw;
    height: 15vw;
}

.von {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5vw;
}

.con-text {
    font-size: 1vw;
    color: #B6B6B6;
    margin-top: 1vw;
}

.date-mov {
    font-size: 0.8vw;
    color: #B6B6B6;
}

.pic-container {
    background: #050E12;
}

@media(max-Width:1200px) {

    .You {
        font-size: 6vw;
    }

    .Movie-pics {
        display: flex;
        margin-top: 3vw;
        width: 29vw;
        height: 40vw;
    }

    .con-text {
        font-size: 3vw;
        color: #B6B6B6;
        margin-top: 5vw;
        width: 25vw;
    }

    .date-mov {
        font-size: 4vw;
        color: #B6B6B6;
    }
}