
.series-container-All{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vw;
}

.Tv{

    color: white;
    display: flex;
    margin-left: 4vw;
}


.pic-container{
    display: flex;
    flex-direction: column;
}


.series-pics{

    
    display: flex;
    margin-top:3vw;
    width:10.5vw;
    height:15vw;
}


.ser{

    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5vw;
}






.ser-text{

    font-size: 1vw;
    color: #B6B6B6;
    margin-top: 1vw;
    
}


.date-ser{
  
    font-size: 0.8vw;
    color: #B6B6B6;
   
    
}





