.One-container {
    display: flex;
    justify-content: center;
    width: 98.8vw;
    height: 40vw;
    position: static;
    flex-direction: column;
}



.small {
    width: 13vw;
    margin-top: -10vw;
    margin-left: 4vw;
}

.Text {
    display: flex;
    margin-left: 5vw;
    flex-direction: column;
    
}

.Text-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin-top: 1vw;
    color: #EDEDED;
}

.Text-rate {
    display: flex;
    margin-top: 1vw;
}

.star {
    width: 3vw;
}

.rate {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-left: 1vw;
    margin-top: 0.5vw;
    color: #FFFFFF;
}

.One-description-container {
    display: flex;
    flex-direction: row;
}

.One-description {
    display: flex;
    text-align: left;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 10vw;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
}

.Trailer-btn {
    width: 190px;
    height: 49px;
    font-size: 1.5vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-left: 5vw;
    background: #FFDA18;
    border-radius: 3px;
}

@media(max-Width:1200px){

    .One-container {
        
        height: 60vw;
      
    }

    .small {

        width: 25vw;
        margin-top: -15vw;
        margin-left: 2vw;
       
    }

    .Text {
        display: flex;
        margin-left: -25vw;
        margin-top: 30vw;
        
    }


    .Text-title {
       
        font-size: 6vw;
        margin-top: 1vw;
        color: #EDEDED;
    }

    .Text-rate {
        display: flex;
        margin-top: 1vw;
       
    }

    .star {
        width: 8vw;
        height: 8vw;
        margin-top: 2vw;
    }

    .rate{

        font-size: 9.5vw;
        margin-left: 1vw;
        margin-top: 0.5vw;
    }


    .Trailer-btn{

        width: 40vw;
        height: 49px;
        font-size: 6vw;
        border-radius: 5vw;
    }

    .One-description{

        font-size: 6vw;
        line-height: 8vw;
        margin-right: 5vw;
    }


    
}